body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #23374D;
}

.new-category .Product__title-text, .offer-text .offer__title-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}

.category__name .category__add-name, .form__password .password, .form__login .login, .search .search__address {
  border: 1px solid #E5E5E5;
  transition: all 0.2s ease;
}
.category__name .category__add-name:hover, .form__password .password:hover, .form__login .login:hover, .search .search__address:hover {
  border-color: #1089FF;
  filter: drop-shadow(0px 0px 4px rgba(5, 1, 1, 0.073));
}

.btn__add-category, .authorization__button, .sign, .exit, .search .search__send {
  background: #1089FF;
  border-radius: 5px;
  color: #fff;
  border: none;
  transition: all 0.2s ease;
}
.btn__add-category:hover, .authorization__button:hover, .sign:hover, .exit:hover, .search .search__send:hover {
  background: #0f76dd;
}

.btn__back-category, .new-category .add-category, .cart {
  border: 1.5px solid #23374D;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.2s ease;
}
.btn__back-category:hover, .new-category .add-category:hover, .cart:hover {
  background-color: #1089FF;
  border-color: #fff;
  color: #fff;
}

.header {
  margin-top: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo .logo__text {
  margin-left: 15px;
}
.logo .logo__text .logo__text-name {
  font-size: 16px;
  color: #000;
}
.logo .logo__text .logo__text-base {
  margin-top: 5px;
  color: #636363;
}

.search {
  display: flex;
}
.search .search__address {
  padding: 12px 19px;
  min-width: 590px;
  border-radius: 5px 0 0 5px;
}
.search .search__send {
  border-radius: 0px 5px 5px 0px;
  width: 65px;
  padding: 12px 19px;
}

.account {
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: 600;
  margin-right: 20px;
  display: none;
}
.user-name.active {
  display: block;
}

.cart {
  width: 82px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: #23374D;
  display: none;
}
.cart i {
  margin-right: 10px;
}
.cart.active {
  display: flex;
}

.exit {
  width: 82px;
  height: 40px;
  display: none;
}
.exit.active {
  display: block;
}

.sign {
  width: 82px;
  height: 40px;
  display: block;
}
.sign.active {
  display: none;
}

.authorization-position {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.authorization-position.active {
  display: flex;
}

.authorization {
  padding: 50px;
  border-radius: 5px;
  background-color: #fff;
  max-width: 350px;
  margin: auto;
}

.authorization__title-text {
  font-size: 40px;
}

.authorization__form {
  margin-top: 37px;
  min-width: 350px;
}

.form__login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__login .login {
  min-width: 190px;
  padding: 6px 19px;
  border-radius: 5px;
}

.form__password {
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__password .password {
  min-width: 190px;
  padding: 6px 19px;
  border-radius: 5px;
}

.authorization__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
}
.authorization__footer p {
  margin-top: 10px;
  color: #C4C4C4;
}

.authorization__button {
  width: 82px;
  height: 40px;
}

.offer {
  background-color: #FFE299;
  border-radius: 25px;
  margin-top: 50px;
}
.offer .offer__position {
  padding: 39px 130px;
  display: flex;
  justify-content: space-between;
}

.offer-text .offer__text {
  font-size: 20px;
  line-height: 27px;
}

.Products {
  margin-top: 50px;
}

.new-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-category .add-category {
  display: flex;
  align-items: center;
  padding: 12px 19px;
  display: none;
}
.new-category .add-category i {
  margin-right: 5px;
}
.new-category .add-category.active {
  display: flex;
}

.category-position {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.category-position.active {
  display: flex;
}

.form-category {
  width: 450px;
  border-radius: 5px;
  background-color: #fff;
  margin: auto;
}

.category__add-image {
  width: 100%;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: #E5E5E5;
}
.category__add-image p {
  font-weight: 600;
  font-size: 20px;
  color: #C4C4C4;
  padding: 65px 0;
}

.category__section {
  padding: 50px;
}

.category__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category__name .category__add-name {
  min-width: 190px;
  padding: 6px 19px;
  border-radius: 5px;
}

.category-btns {
  display: flex;
  align-items: center;
  margin-top: 37px;
}

.btn__back-category {
  width: 82px;
  height: 40px;
  margin-right: 37px;
}

.btn__add-category {
  width: 240px;
  height: 40px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
  display: block;
}

.Cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0 25px 50px 25px;
  width: 350px;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  text-decoration: none;
  color: #23374D;
}
.card .card__text {
  padding: 14px;
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.card__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}

.card__time {
  display: flex;
  margin-top: 14px;
}
.card__time .Time {
  margin-left: 17px;
}

.card__price {
  display: flex;
  margin-top: 8px;
}
.card__price .price {
  padding: 1px 6px;
  margin-left: 17px;
  border-radius: 3px;
  display: flex;
}
.card__price .price p {
  margin-right: 10px;
}

.footer {
  background-color: #E5E5E5;
}
.footer .footer__menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__name {
  margin-bottom: 8.5px;
}

.link {
  display: flex;
  flex-direction: column;
}
.link .link__email {
  color: #7D7D7D;
  margin-bottom: 3.5px;
  text-decoration: none;
}
.link .link__email:hover {
  color: #1089FF;
}

.telephone__number {
  font-weight: 600;
  text-decoration: none;
  color: #23374D;
}
.telephone__number:hover {
  color: #1089FF;
}

.links {
  display: flex;
  flex-direction: column;
}
.links a {
  text-decoration: none;
  color: #23374D;
}
.links a i {
  font-size: 16px;
  margin-bottom: 12.25px;
}
.links a:hover {
  color: #1089FF;
}